@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/*------------header----------*/

header{
    height: 86px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #f0f0f0;
}
.container{
    width: 75vw;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div{
    text-align: center;
}
header nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
header nav a{
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
}
header img{
    max-width: 100%;
    height: auto;
}
.coffee-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #6246EA;
    text-decoration: none;
    color: #fff;
    width: 213px;
    height: 44px;
    border-radius: 4px;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    text-transform: capitalize;
}

/*---------------------Dasteen--------------*/

.Dasteen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 164px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #EFF0F3;
    padding-left: 95px;
}
.Dasteen img{
    margin-right: 75px;
}
.Dasteen div{
    width: 664px;
    padding-left: 95px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}
.Dasteen div h1{
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    width: 617px;
    opacity: 1;
}
.Dasteen div p{
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-style: "Regular";
    font-size: 20px;
    color: #9A9494;
    width: 700px;
    line-height: 1.6;
    border-left: 3px solid #2B2C34;
    padding-left: 20px;
}
.email{
    width: 100%;
    max-width: 664px;
    display: flex !important;
    flex-direction: row !important;
    gap: 16px;
}
.Dasteen input{
    flex: 1;
    width: 444px;
    height: 67px;
    min-height: 67px;
    gap: 10px;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 20px;
    color: #C0C0C0;
    border-radius: 8px;
    border: none;
}
.email button{
    width: 145px;
    height: 67px;
    flex-shrink: 0; 
    border: none;
    background-color: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

/*-----------Category Cards----------*/

.Category{
    padding: 80px 0;
    background-color: #EFF0F3;
}
.Category .Container{
    width: 100%;
    padding: 0 94px;
    display: flex;
    flex-direction: column;
}
.Category_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
}
.Category_header h3{
    font-size: 24px;
}
.Category_header a{
    font-size: 20px;
    color: black;
}
.Category_cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 37px;
    width: 100%;
}
.Category_cards div img{
    height: 60px;
    width: 60px;
}
.Category_cards div{
    font-family: "Plus Jakarta Sans";
    flex: 1;
    background-color: #FFFFFE;
    color: #2B2C34;
    max-width: 220px;
    height: 280px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding-left: 30px;
    transition: all 1s ease;
    cursor: pointer;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;

}
.Category_cards div:hover{
    color: white;
    background-color: #6246EA;
}

/*----------------------Main Articles-----------------*/

.Articles{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-family: "Plus Jakarta Sans";
}
.Article_category{
    margin-bottom: 50px;
}
.Article_category_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.Article_category_header h4{
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    text-transform: capitalize;
}
.Article_category_header a{
    font-size: 20px;
    color: black;
}
.Article_cards{
    margin-top: 30px;
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;

}
.Article_cards>div {
    flex: 0 1 285px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Article_cards>div>img{
    width: 100%;
    height: 198px;
    object-fit: cover;
    border-radius: 12px;
}
.Article_cards h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    color: #2B2C34;
}
.Author_info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row !important;
    gap: 12px;
    margin-top: auto;
    width: 100%;
}
.Author_info img{
    width: 57px !important;
    height: 57px !important;
    border-radius: 100% !important;
    object-fit: cover;
    flex-shrink: 0;
}
.Author_text{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.Author_name{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #2B2C34;
}
.Date{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-transform: capitalize;
    color: #2B2C34;
}
.Articles .container{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0 auto;
}
.More_article_button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
}
.More-btn{
    width: 145px;
    height: 67px;
    flex-shrink: 0; 
    border: none;
    background-color: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

/*--------------News Section------------------*/

.Newsletter {
    background-color: #EFF0F3;
    padding: 100px 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.Newsletter_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Icon_circle{
    width: 130px;
    height: 130px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.Icon_circle img{
    width: 150px;
    height: auto;
}
.Newsletter_container h2{
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin-bottom: 16px;
    color: #0D0D0D;
}
.Newsletter_container p{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 40px;
}
.Form_email{
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 609px;
}
.Form_email input{
    flex: 1;
    width: 444px;
    height: 67px;
    min-height: 67px;
    gap: 10px;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 20px;
    color: #C0C0C0;
    border-radius: 8px;
    border: none;
}
.Form_email button{
    width: 145px;
    height: 67px;
    flex-shrink: 0; 
    border: none;
    background-color: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}